.oops_container {
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.oops_circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #f44336;
    display: flex;
    align-items: center;
    justify-content: center;
}

.oops_inner_circle {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.oops_text {
    font-size: 48px;
    font-weight: bold;
    color: #f44336;
}